.btn {
  cursor: pointer;
  outline: none !important;
  display: inline-flex;
  border: none;
  background-color: white;
  transition: background-color var(--transition-time) ease-in;
}

.icon-button {
  padding: 0.5rem;
  border-radius: 0.3125rem;
  &:hover {
    background-color: var(--light-grayish-blue);
  }
  img {
    width: 16px;
    height: 16px;
  }
}
