.btn {
  cursor: pointer;
  outline: none !important;
  display: inline-flex;
  border: none;
  background-color: white;
}

.icon-button {
  padding: 0.5rem;
  border-radius: 0.3125rem;
  &:hover {
    background-color: var(--light-grayish-blue);
  }
  img {
    width: 16px;
    height: 16px;
  }
}

.slider-button {
  background-color: white;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
}
