.btn {
  cursor: pointer;
  outline: none !important;
  display: inline-flex;
  border: none;
  background-color: white;
}

.icon-button {
  padding: 0.5rem;
  border-radius: 0.3125rem;
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--light-grayish-blue);
  }
  img {
    width: 16px;
    height: 16px;
  }
}

.slider-button {
  background-color: white;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
}

.button-orange {
  background-color: var(--orange);
  padding: 1rem 1.25rem;
  border-radius: 0.625rem;
  gap: 12px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  font-size: 1rem;
  transition: opacity var(--transition-time) ease-in;
  &:hover {
    opacity: 0.5;
  }
}
