.app-header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 20;

  .left-side,
  .right-side {
    display: flex;
    gap: 0.75rem;
    align-items: center;
  }
  .left-side {
    .logo {
      height: 1.25rem;
      width: auto;
      transform: translateY(-2px);
      transition: height var(--transition-time) ease-in;
    }
  }

  .right-side {
    .avatar {
      width: 36px;
      height: 36px;
      border: 2px solid transparent;
      transition: border-color var(--transition-time) ease-in;
      cursor: pointer;
      border-radius: 50%;
      &:hover {
        border-color: var(--orange);
      }
    }
  }
}

@media screen and (min-width: 766px) {
  .app-header {
    border-bottom: 1px solid var(--light-grayish-blue);
    .left-side {
      .logo {
        height: 1.5rem;
      }
    }
  }
}
