.drawer {
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;

  .content {
    padding: 1.5rem;
    max-width: 300px;
    background-color: white;
    height: 100vh;
    height: 100svh;
    box-shadow: 3px 0 30px rgba(0, 0, 0, 0.1);
    animation: 0.2s slideIn linear;

    header {
      margin-bottom: 2rem;
    }
  }
}
