.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  z-index: 30;

  .close-container {
    max-width: 43.75rem;
    width: 100%;
    text-align: right;
    margin: 0 1.5rem;
  }

  .icon-button {
    background: unset;
    width: unset;
    height: unset;
    padding: 0.25rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;

      path {
        transition: fill var(--transition-time) ease-in;
        fill: white;
      }
    }

    &:hover {
      path {
        fill: var(--orange);
      }
    }
  }

  .slider-component {
    max-width: 700px;
    margin: 1.5rem;
    gap: 3.75rem;
    grid-template-columns: calc(80% - 3.75rem) 20%;

    .controls {
      display: flex;
      height: 4rem;
      width: 80%;
      left: -2rem;
      top: calc(50% - 2rem - 3.1875rem);
      padding: 0;

      button {
        height: 4rem;
        width: 4rem;
      }
    }

    .thumbnails {
      grid-template-columns: 1fr;
      img {
        max-width: 100%;
      }
    }
  }
}

@media screen and (min-height: 900px) {
  .lightbox {
    .close-container {
      max-width: 31.25rem;
    }

    .slider-component {
      gap: 0;
      grid-template-columns: 1fr;
      max-width: 31.25rem;

      .controls {
        top: calc(50% - 5.25rem - 2rem);
        width: calc(100% + 4rem);
      }

      .thumbnails {
        grid-template-columns: repeat(4, 1fr);
        padding: 2.5rem;
        gap: 1.5rem;
      }
    }
  }
}
