.slider-component {
  position: relative;
  img {
    max-width: 100%;
  }
  .slider {
    max-width: 100%;
    overflow: hidden;
    .images {
      display: flex;
    }
  }
  .controls {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
  }
}

@media screen and (min-width: 766px) {
  .slider-component {
    display: grid;
    gap: 1.5rem;
    img {
      border-radius: 0.75rem;
    }
    .controls {
      display: none;
    }

    .thumbnails {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.875rem;

      img {
        border: 2px solid transparent;
        transition: border-color var(--transition-time) ease-in,
          filter var(--transition-time) ease-in;

        &.selected {
          filter: opacity(0.5);
          border-color: var(--orange);
        }
      }
    }
  }
}
