.vh {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  user-select: none;
  opacity: 0;
  display: none;
}

@media screen and (min-width: 766px) {
  .mbl-only {
    display: none;
  }
}

@media screen and (max-width: 766px) {
  .dsk-only {
    display: none;
  }
}
